body{
    background: #333;
    color: #fff;
  }

  #header{
    /* font: 50px #fff; */
    font-family: 'Capriola', sans-serif;
    text-align: center;
  }

  .chaos-text{
    font-size: 40px;
    display: inline-block;
    transform: rotate3d(1, 2, 1, 30deg);
  }

  .red-text{
    color: tomato;
  }

  .blue-text{
    color: aqua;
  }

  #orderChaos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .tileRow{
    display: flex;
    width: 560px;
  }

  .tile{
    height: 68px;
    width: 68px;
    border: 1px solid white;
  }

  .tile:hover{
    border-color: #000;
  }

  .tUnset{
    background: #777;
    opacity: 0.8;
  }

  .tRed{
    background: #f00;
  }

  .tBlue{
    background: #00f;
  }

  .who-will-play p{
    font: 30px Arial;
  }

  .colorPicker{
    display: flex;
  }

  .colorSelector{
    height: 200px;
    width: 200px;
    opacity: 0.2;
  }

  .selected{
    opacity: 1;
  }

  /* @media (max-width: 991px){
    .tileRow{
      display: flex;
      width: 720px;
    }
  
    .tile{
      height: 88px;
      width: 88px;
      border: 1px solid white;
    }
  } */