body{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  background-color: lightgray;
}

@media
only screen and (max-width: 599px)  {

	/* Force table to not be like tables anymore */
  .skinoptions{
    display: none;
  }
  .skinselect:hover .skinoptions{
    display: block;
    width: auto;
  }
}

@media
only screen and (max-width: 1200px) {

	/* Force table to not be like tables anymore */
	.wrapper {
		display: flex;
    flex-direction: column;
	}
}

button{
  height: 50px;
  width: 200px;
  background-color: silver;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 25px;
  border-style: solid;
  border-color: black;

}
input{
  height: 40px;
  width: 100px;
  background-color: lightgray;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 20px;
  border-style: solid;
  border-color: black;

}

.wrapper {
  display: flex;
  /*flex-direction: row;*/
}

#mobile p{
  font-family: Roboto;
  font-size: 25px;
  /*position: relative;*/
  margin-top: 50%;
  /*margin-left: 30%*/
  text-align: center;
  /*top: 50%;*/
  font-weight: bold;
}

.skins{
  display: block;
  margin-left: 10%;
}
.wrapper{
  display: flex;
}

.skinselect{
  display: inline-block;
  margin-left: 10px;
}
.skinoptions{
  /*display: none;*/
  visibility: hidden;
}
.skinselect:hover .skinoptions{
  /*display: block;*/
  visibility: visible;
  width: auto;
}
.skinoptions > button{
  display: block;
  border-style: solid;
  background-color: white;
  min-width: 100px;
  border-color: black;
}
#mobile {
  height: 480px;
  width: 220px;
  border-style: solid;
  border-radius: 20px;
  background-color: white;
  background: repeating-linear-gradient(45deg,white,white 10px,white 10px,white 20px);
  /*background-image: url("malaysia.jpg");*/
  /*background-size: cover;*/
}

#lens {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
}

#camera {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
}
