body{
  background-color: white;
  background: url(image/checkered2.jpg);
  color: red;
  margin-left: 10%;
  margin-right: 10%;
  /*align-items: center;*/
}


.navbar{
  font-size: 50px;
  color: red;
  font-weight: bolder;
  height: 90px;
  /*position: fixed;*/
}
.content{
  background: linear-gradient(skyblue, lightgreen);
}

.boxes{
  /*color: blue;*/
}
table{
  /*background-color: lightblue;*/
}

td{
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 40px;
  /*transition: width 0.5s, height 0.75s;*/
}

td a{
  color: red;
  font-family: Bodoni MT;
  text-decoration: none;
}

tr{
  text-align: center;
}


.image-aus{
  /*padding-top: 0px;*/
  /*background: url(http://www.iconsdb.com/icons/preview/orange/stackoverflow-6-xxl.png) center center no-repeat;*/
  background: url(image/australia.jpg) center center no-repeat;
  /*background-size: contain;*/
  background-size: 176.2px 124.2px;

  width: 250px;
  height: 176.2px;

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-aus:hover {
  /*background-image: url("http://www.iconsdb.com/icons/preview/gray/stackoverflow-xxl.png");*/
  background: url(image/ausres.png) center center no-repeat;
  /*background-size: contain;*/
  background-size: 176.2px 124.2px;
}

.image-china{
  background: url(image/china.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-china:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-bahrain{
  background: url(image/bahrain.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-bahrain:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-russia{
  background: url(image/russia.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-russia:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-spain{
  background: url(image/spain.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-spain:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-monaco{
  background: url(image/monaco.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-monaco:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-canada{
  background: url(image/canada.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-canada:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-baku{
  background: url(image/baku.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-baku:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-austria{
  background: url(image/austria.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-austria:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-uk{
  background: url(image/uk.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-uk:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-hungary{
  background: url(image/hungary.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-hungary:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-belgium{
  background: url(image/belgium.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-belgium:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-italy{
  background: url(image/italy.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-italy:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-singapore{
  background: url(image/singapore.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-singapore:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-japan{
  background: url(image/japan.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-japan:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-malaysia{
  background: url(image/malaysia.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-malaysia:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-usa{
  background: url(image/usa.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-usa:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-mexico{
  background: url(image/mexico.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-mexico:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-brazil{
  background: url(image/brazil.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-brazil:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}

.image-uae{
  background: url(image/uae.jpg) center center no-repeat;
  background-size: 176.2px 124.2px;
  width: 250px;
  height: 176.2px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.image-uae:hover {
  background: url(image/ausres.png) center center no-repeat;
  background-size: 176.2px 124.2px;
}
